node_modules
badges/old
badges/old_v2
events/old
cmds/testCmds
.vscode
prefixes.db
prefixes.json
config.json
buttons.json
connections.json
beginners.json
xp.json
voicelogRecovery.json
badgeLevelconfig.json
OCCconfig.json
OCCconfigReal.json
leaderboardConfig.json
leaderboardConfig.real.json
hb-bits4kids-Bot.service
template.txt
credentials.json
credentialsReal.json
b4kBot.db
b4kBot_test.db
backups
.env